<nav>
  <ul>
    <li>
      <!-- Utilisation de "routerLink" pour changer de page et utiliser le routage Angular qui est SPA (single page application) -->
      <!-- ⚠️bien importé "RouterLink" dans le fichier TS, dans le tableau d'import -->
      <a routerLink="">Home</a>
    </li>
    <li>
      <a routerLink="/demo">Demo</a>
    </li>
    <li>
      <a routerLink="/demo/2">Demo bindings</a>
    </li>
    <li>
      <a routerLink="/demo/3">Demo pipes</a>
    </li>
    <li>
      <a routerLink="/exo/1">Exercice chrono</a>
    </li>
  </ul>
</nav>
